{% extends "default.html" %}
{% block title %}{{ page.title }}{% endblock title %}
{% block content %}
<article class="post">
    <h1>{{ page.title }}</h1>
    <div class="date">
        <p>Escrito el {{ page.date | date(format="%d/%m/%Y") | safe }}</p>
    </div>
    <div class="entry">
        {{ page.content | safe }}
    </div>
    {% include "contacto.html" %}
    {% include "disqus.html" %}
</article>
{% endblock content %}


