{% extends "default.html" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
<article class="post">
    <h1>{{ post.title }}</h1>
    <div class="date">
        <p>Escrito el {{ post.date | date(format="%d/%m/%Y") | safe }}</p>
    </div>
    <div class="entry">
        {{ post.content | safe }}
        <audio controls="">
            {% if endswith(post.filename, "m4a") -%}
            <source src="https://archive.org/download/{{post.identifier | safe}}/{{post.filename | safe}}" type="audio/mpeg" />
            {% else -%}
            <source src="https://{{ op3 | safe }}/archive.org/download/{{post.identifier | safe}}/{{post.filename | safe}}" type="audio/mpeg" />
            {% endif -%}
        </audio>
    </div>
    {% include "contacto.html" %}
    {% include "disqus.html" %}
</article>
{% endblock content %}
