{% extends "default.html" %}
{% block title %}Statistics{% endblock title %}
{% block head %}
    {{ super() }}
    <script src="{{ podcast.url | safe }}/assets/stats.js" type="text/javascript"></script>
    <style>
        th{
            cursor: pointer;
        }
    </style>
{% endblock head %}
{% block content %}
<div class="posts" style="overflow-x:auto;">
    <table id="stats" class="customtable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Number</th>
                <th onclick="sortTable(1)">Title</th>
                <th onclick="sortTable(2)">Views</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td style="text-align: start;">{{ post.number }}</td>
                <td style="text-align: start;"><a href="{{ podcast.url | safe }}/{{ post.slug }}">{{ post.title | safe}}</a></td>
                <td style="text-align: start;">{{ post.downloads }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
