{% if podcast.email %}<a href="mailto:{{ podcast.email | safe }}"><i class="svg-icon email"></i></a>{% endif %}
<a href="{{ podcast.url | safe }}{{ podcast.feed_url | safe }}"><i class="svg-icon rss"></i></a>
