Buenas muchachada, he compartido un nuevo episodio
<strong>{{post.title}}</strong>.

<a href="https://feeds.feedburner.com/papafriki"
  >https://feeds.feedburner.com/papafriki</a
>

<a href="{{ params.url | safe }}/{{ post.slug }}">{{ post.title }}</a>

Ya sabéis, poco a poco irá llegando a vuestro programa de podcast favorito, a la
red de SOSPECHOSOS HABITUALES, a Telegram o a YouTube
